input {
width:250px;
}

tr {
vertical-align:top;
}

.traffic {
text-align:center;
cursor:pointer;
text-decoration:underline;
}

.galleryDiv {
top:0px;
left:0px;
z-index:3000;
position:fixed;
width:100%;
height:100%;
display:none;
background-color:rgba(0,0,0,0.5);
}

.galleryDivContent {
padding:10px;
width:96%;
min-height:700px;
border:2px solid rgba(249,154,38,0.7);
margin:20px;
background-image: url(../public/img/preview_inner.png);
background-repeat: repeat; 
background-color:#fff;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.galleryDivClose {
position:absolute;
top:0px;
right:0px;
background-image: url(../public/img/close.png);
background-repeat: no-repeat;
background-position: top;
background-size: cover;
cursor:pointer;
width:60px;
height:60px;
z-index:3001;
}

.hide {
	display:none;
}

.smallAT {
	font-size:12px!important;
	color:rgba(0,0,50,1);	
}

.center {
	text-align:center!important;
	color:rgba(0,0,0,0.8);
}

.redTr td{
	background-color:rgba(255,10,10,0.1);
}

.blueTr td{
	background-color:rgba(10,10,255,0.1);
}