/node_modules
/public/hot
/public/storage
/public/feeds
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
public/offers
public/materials
cghooks.lock
/.env.*
storage/
.DS_Store
./public/feeds
.php_cs.cache
